*{
    box-sizing:border-box;
    padding: 0;
    margin:0;
    
}

:root{
    --primarycolour:rgb(221, 236, 241);
    --secondarycolor:rgb(39, 47, 161);
    --tertiarycolor:rgb(121, 249, 249);
}


body{
    background:var(--primarycolour);}
  
.header{
    padding:20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--tertiarycolor);
    color: var(--secondarycolor);
    border: 1px;
    border-width: 5px;
    border-color: blue;
    border-bottom-style: groove;
    }

    @media screen and (min-width = 742px)
{ * { display: flex;
    flex-direction: row;
    flex-wrap:wrap;}
} 
    
.header h1{
    font-size : 40px ;
    font-style: italic;
    font-weight: bolder;
    display: inline-block;
}
.header div{
    padding-top: 20px;
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;

}
.header div ul{
    list-style-type: none;
}
.header div ul li{
    display:inline-block;
    margin-left: 20px;
    font-size: 20px;
    margin-top:-10px;
}
.aside
{
margin-bottom: 20px;
margin-top:20px;
display: inline-flex;
height:300px;

}
.right{
    margin-left: 10px;
    max-height: 50px;
    border-color: black;
border-width: 5px;
border-style: double;
}